* {
    padding: 0;
    /* margin: 0; */
    box-sizing: border-box;
    font-family: sans-serif;
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #987070;
    padding: 1.3rem 5rem;
    -box-shadow: 4px 7px 26px 8px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 7px 26px 8px rgba(0,0,0,0.75);
box-shadow: 4px 7px 26px 8px rgba(0,0,0,0.75);
}


.nav-text ul {
    display: flex;
    justify-content: center;
    align-items: center;
}


ul li {
    padding: 0 0.5rem;
    list-style: none;
}

li a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
    /* transition: 0.1s all ease-in; */
}

li a:hover {
    color: #5AB2FF;
    text-decoration: underline;
}




.items-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0.6rem;
}

.card {
    background: #EEF7FF;
    font-size: 0.8rem;
    color: #373A40;
    cursor: pointer;
    padding: 1.8rem;
    transition: 1s ease;
    cursor: pointer;
    margin: 2rem;
    border-radius: 2rem;
}

.card:hover {
    transform: scale(1.1);
}

.content {
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    margin-top: 0.5rem;
}

p {
    font-weight: bold;
}

.api-image {
    border-radius: 5px;
    height: 20rem;
    width: 20rem;
}