body {
    background-image: url(image/pexels-vlad-alexandru-popa-1402787.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}