//Nav Layout

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-family: sans-serif;
    position: fixed;
    width: 100%;
    background: white;
    .logo-container {
        margin-left: 40px;
    }

    ul {
        margin-right: 40px;
    }

    li {
        list-style: none;
        display: inline;
        margin-left: 1.8rem;
        a {
            color: #000;
            text-decoration: none;
        }
    }
}