/* Font */

/* Can change */
@font-face {
    font-family: "valorant";
    src: url("./src/font/Valorant\ Font.ttf");
}


/* Reset */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    background: gray;
}
