/* Fonts */

@font-face {
    font-family: 'Pixel';
    src: url('font/04b/04b_30__-webfont.woff2') format('woff2'),
        url('font/04b/04b_30__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "minecraft";
    src: url("font/minecraft-font/minecraft-webfont.woff2") format("woff2");
    src: url("font/minecraft-font/minecraft-webfont.woff") format("woff");
}




/* Resets */

 * {
    font-family: "minecraft", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Center the content */

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #99BC85;
    width: 100%;
    background-image: url("img/stacked-steps-haikei.svg");
    background-repeat: no-repeat;
    background-size: cover;
}



/* Scores Layout */

.scores {
    display: flex;
    justify-content: space-evenly;
}

.container__scores__current,
.container__scores__high {
    color: #000000;
    letter-spacing: 0.1rem;
    font-size: 1.7rem;
}

.container__scores__current,
.container__scores__high  {
color: #1A4D2E;
letter-spacing: 0.2rem;
}


.container__border1 {
    border: 1rem solid black;
    border-radius: 20px;
}

.container__board {
    display: grid;
    grid-template-columns: repeat(30, 1rem);
    grid-template-rows: repeat(30, 1rem);
    background: #A8A196;
}

.container__content__logo {
    position: absolute;
    max-width: 30rem;
    max-height: 30rem;
    bottom: 9.6rem;
}

/* Text Content */

.container__content__text {
    margin-top: 1rem;
    text-align: center;
}

.snake {
    background: #94FFD8;
    border: 1px solid #003C43;
    border-radius: 0.3rem;
}

.food {
    background: #BB2525;
    border: 1px solid #FE0000;
    border-radius: 0.6rem;
}


