* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: #797c7a;
}


.container {    
    position: relative;
    width: 50rem;
    height: 31.25rem;
    background: black;

}

