/* Font */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Root */

:root {
    --bg-color: #6F4E37;
    --font-color: #A67B5B;
    --span-color: #ECB176;
    --extra: #FED8B1;
    --main-font: "Roboto", "sans-serif";
}

/* Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    color: var(--span-color);
}

/* Center the elements in the middle of the screen */
body {
    background: var(--bg-color);
}
.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Change from center to flex-start */
    align-items: center;
    font-family: var(--main-font);
    padding-top: 50px; /* Add some padding at the top */
}

/* Header Style */
.header {
    text-align: center;
    font-size: 3rem;

}

span {
    color: var(--extra);
}


/* Form style */

.form {
    margin: 2rem 0;
    position: relative;
    max-width: 100%;
    width: 25rem;
}

.form input {
    background: #C7B7A3;
    border: none;
    padding: 1rem 2rem;
    width: 100%;
    border-radius: 50px;
    color: black;
    font-size: 1.5rem;
}   


.form button {
    position: absolute;
    background: white;
    height: 100%;
    border-radius: 50%;
    aspect-ratio: 1;
    border: none;
    font-size: 3rem;
    color: white;
    background: #5AB2FF;
    right: 0.1rem;
    top: 0;
    cursor: pointer;
    text-align: center;
}


.list {
    width: 25rem;
    text-align: center;
    height: auto; /* Change from 100% to auto */
    overflow: auto; /* Add overflow auto to enable scroll if the list is too long */
}


li {
    margin-bottom: 1rem;
    background: #543310;
    list-style: none;
    font-size: 1.5rem;
    height: auto; /* Change from 3rem to auto */
    padding: 0.5rem;
    border-radius: 50px;
}

.delete-btn {
    padding: 1rem 2rem;
    background: #987070;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
}

input[type="checkbox"] {
    margin: 1rem;
    width:1rem;
    height: 1rem;
}