/* Font */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



/* Default Layout */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body {
    background: #d4d4d4;
}

/* Text Layout */

.text-content {
    position: relative;
    top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
}
.result-content {
    display: flex;
}

.result-content h2 {
    margin-left: 20px;
}


/* Game layout */
.boxs {
    display: flex;
    width: 100px;
    height: 100px;
    /* Maybe is better change it  */
    background: #707070; 
    margin: 10px 20px;
    border: 2px solid #000;
    box-shadow: 5px 5px 5px #000;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: #fff;
    cursor: pointer;
}

.game-content {
    margin-top: 20vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin-bottom: 2rem;
}

/* Button layout */

.btn {
    border: none;
    padding: 15px 50px;
    cursor: pointer;
    background: #000000;
    color: #fff;
    transition: all ease 0.5s;
    border-radius: 2rem;
}

.btn:hover {
    background: #bf3f00;
}


.green {
    color: green;
}

.red {
    color: red;
}